.title {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: center;
}
.blink {
  animation: blink-animation 0.75s infinite;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
