.listItem {
  padding: 1.5rem 1rem;
  font-size: 1.5rem;
  width: 100%;
  border-top: 1px solid grey;
}
.listItem:last-of-type {
  border-bottom: 1px solid grey;
}
.hiddenImage {
  width: auto;
  height: 0;
  object-fit: cover;
  position: absolute;
  pointer-events: none;
  transition: text-transform 0.5 ease-out;
}
.hoverReveal {
  position: absolute;
  height: 300px;
  width: 300px;
}
