.sliderContainer {
  position: absolute;
}
.slider {
  position: relative;
  white-space: nowrap;
  display: flex;
}
.slider p {
  margin: 0 1rem;
  color: black;
  font-size: 5rem;
  font-weight: 500;
}
.slider p:nth-of-type(2) {
  position: absolute;
  left: 100%;
}
