.marquee__part {
  flex-shrink: 0;
  padding: 0 4px;
  font-smooth: always;
}

.marquee {
  background-image: linear-gradient(
    to right,
    #e4aaf4,
    #e1b5f7,
    #dfc0f9,
    #decafa,
    #dfd3f9,
    #dbd7f9,
    #d9dbf8,
    #d8def7,
    #cfddf7,
    #c6ddf7,
    #bcdcf5,
    #b3dcf2
  );
  color: #eee;
  text-transform: uppercase;
  font-weight: 600;

  position: relative;
  overflow: hidden;
}

.marquee__inner {
  -webkit-font-smoothing: antialiased;
  width: fit-content;
  display: flex;
  flex: auto;
  flex-direction: row;
  color: #a586ad;
}
